<nav class="navbar">
  <% if(locals.currentUser){ %>
  <div class="container">
    <h3>Welcome back, <%- currentUser.username %>!</h3>
    <h4><%- currentUser.membership %></h4>
    <a href="/membership-status">
      <button>Upgrade status</button>
    </a>
    <a href="/post-message">
      <button>Post a message</button>
    </a>

    <a href="/log-out">
      <button>Log out</button>
    </a>
  </div>
  <% } else{ %>
  <div class="container">
    <a href="/sign-in">
      <button class="authorize">Sign In</button>
    </a>
    <a href="/sign-up">
      <button class="authorize">Sign Up</button>
    </a>
  </div>
  <% } %>
</nav>
