<nav class="navbar">
  <% if(locals.currentUser){ %>
  <div class="container">
    <h3>Welcome back, <%- currentUser.username %>!</h3>
    <a href="/post-message">
      <button >Write a message</button>
    </a>
    <a href="/#">
      <button >My status</button>
    </a>

    <a href="/#">
      <button >Log out</button>
    </a>
  </div>
  <% } else{ %>
  <div class="container">
    <a href="/sign-in">
      <button class="authorize">Sign In</button>
    </a>
    <a href="/sign-up">
      <button class="authorize">Sign Up</button>
    </a>
  </div>
  <% } %>
</nav>
