body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

body div.content {
  background-color: #2f2f89;
  width: 100%;
  min-height: 98vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

body nav.navbar {
  background-color: #2e2f88;
  border-bottom: 2px solid white;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: end;
}

body nav.navbar .container {
  padding-right: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

nav.navbar button {
  background-color: #fbe56e;
  border: none;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px 15px 5px 15px;
}
div.content h3.welcome {
  color: #fefefd;
}

div.content .membership {
  color: #fbe56e;
}

div.content .message-list-container {
  border: 1px solid blue;
  margin-top: 30px;
  width: min(600px, 100%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 3;
}

div.content .logo {
  position: absolute;
  top: 15px;
  font-size: 7rem;
  color: rgba(154, 154, 154, 0.228);
  pointer-events: none;
  cursor: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.content .message-list-container .message-container {
  background-color: #f5f8fc;

  padding: 10px;
  border-radius: 10px;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

div.content .message-container .name-date-container {
  background-color: #ceb92b;
  font-size: 1.3rem;
  padding: 5px;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
}

body .input-form {
  margin-top: 100px;
  font-size: 1.2rem;
  width: 400px;
  background-color: #f5f8fc;
  border-radius: 10px;

  padding: 25px 15px 25px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body .input-form .title {
  color: #f16675;
}

body .input-form form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

body .input-form form label {
  font-size: 1.1em;
  font-weight: bold;
  color: #282a2a;
  padding-bottom: 7px;
  margin-top: 20px;
}

body .input-form form input {
  height: 30px;
  border-radius: 5px;
  border: 1px solid #282a2a;
  padding: 2px;
  font-size: 1.2rem;
  outline: none;
}

body .input-form form input:focus {
  border: 1px solid #fbe56e;
}

body .input-form form .error-message {
  margin-top: 7px;
  color: red;
}

body .input-form form button {
  margin-top: 20px;
  height: 35px;
  border-radius: 5px;
  border: none;
  color: black;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: #fbe56e;
}

body .input-form h3 {
  font-size: 1.7em;
}

body .input-form textarea {
  resize: none;
}

a {
  color: #00b7ff;
}
