body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

body div.content {
  background-color: rgb(228, 227, 225);
  max-width: max(70vw, 850px);
  width: 100%;
  min-height: 98vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body nav.navbar {
  border: 1px solid red;
  background-color: antiquewhite;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: end;
}

body nav.navbar .container {
  padding-right: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

nav.navbar button {
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;
}

div.content .message-list-container {
  border: 1px solid blue;
  margin-top: 30px;
  width: min(600px, 100%);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

div.content .message-list-container .message-container {
  background-color: white;
  box-shadow: 1px 1px 5px rgba(139, 139, 139, 0.626);
  padding: 10px;
  border-radius: 10px;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

div.content .message-container .name-date-container {
  background-color: rgb(199, 194, 194);
  padding: 5px;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
}

body .input-form {
  margin-top: 100px;
  box-shadow: 2px 2px 100px 10px rgba(0, 0, 0, 0.381);
  width: 400px;

  background-color: white;
  border-radius: 10px;
  padding: 0px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body .input-form form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

body .input-form form label {
  font-size: 1.2em;
}

body .input-form form input,
body .input-form form button {
  height: 30px;
  margin-bottom: 20px;
}

body .input-form h3 {
  font-size: 1.7em;
}

body .input-form textarea {
  resize: none;
}

a {
  color: #00b7ff;
}
