<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <div class="content">
      <nav class="navbar">
        <button class="authorize">Sign In</button>
        <a href="/sign-up">
          <button class="authorize">Sign Up</button>
        </a>
      </nav>
    </div>
  </body>
</html>
