<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <div class="content">
      <nav class="navbar">
        <a href="/sign-in">
          <button class="authorize">Sign In</button>
        </a>
        <a href="/sign-up">
          <button class="authorize">Sign Up</button>
        </a>
      </nav>
      <div class="sign-up-window">
        <h3>Sign In</h3>
        <form action="/sign-in" method="POST">
          <% if (locals.errorMessage!=null) { %>
          <p>Incorrect credentials</p>
          <% } %>
          <label for="username">Username</label>
          <input
            name="username"
            placeholder="username"
            type="text"
            value="<%= locals.user ? locals.user.username : '' %>"
          />

          <label for="password">Password</label>
          <input name="password" type="password" />

          <button>Sign In</button>
        </form>
      </div>
    </div>
  </body>
</html>
