<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <div class="content">
      <%- include('../partials/navbar'); %>
      <div class="sign-up-window">
        <h3>Sign In</h3>
        <form action="/sign-in" method="POST">
          <% if (locals.errorMessage!=null) { %>
          <p>Incorrect credentials</p>
          <% } %>
          <label for="username">Username</label>
          <input
            name="username"
            placeholder="username"
            type="text"
            value="<%= locals.user ? locals.user.username : '' %>"
          />

          <label for="password">Password</label>
          <input name="password" type="password" />

          <button>Sign In</button>
        </form>
      </div>
    </div>
  </body>
</html>
